


<br>

<div class="table-container">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Registration_no</th>
      <th>Source</th>
      <th>Destination</th>
      <th>No_Of_Seats</th>
      <% if bus_owner_signed_in? %>
      <th>BusOwner</th>
      <% end %>

    </tr>
  </thead>
  <tbody>
   <%= render  @buses %>
  </tbody>
</table>
</div>



<% if bus_owner_signed_in? %>
   <%= link_to "Create New Bus", new_bus_path %>
<% end %>