

<div class="table-container">
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Registration_no</th>
      <th>Source</th>
      <th>Destination</th>
      <th>No_Of_Seats</th>
      <th>BusOnwer</th>
    </tr>
  </thead>
  <tbody>
   <%= render  @buses %>
  </tbody>
</table>
</div>

